.carousel-container {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
  }
  
  .slick-slide {
    padding: 0 10px; /* This adds 5px padding on each side for a total of 10px gap */
  }
  
  .card {
    border: none !important;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  @media screen and (max-width: 1024px) {
    .image-container {
      height: 400px !important;
    }
  }
  
  .image-container {
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .caption-section {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
  }
  
  .text-col {
    display: flex;
    text-align: left;
    width: 60%;
    flex-direction: column;
    gap: 4px;
  }
  
  .cart-btn {
    position: relative;
  }
  
@media screen and (max-width:430px) {
    .cart-btn button span{
    font-size: 10px;
    }
}

  .cart-btn button {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    border-radius: 12px;
    background-color: black;
    color: white;
    padding: 10px 16px;
    position: relative;
    overflow: hidden;
  }
  
  .button-text {
    transition: opacity 0.2s ease, transform 0.2s ease; /* Animate opacity and movement */
  }
  
  .added-text {
    position: absolute;
    top: -20px; /* Start above the button */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
    opacity: 0; /* Initially hidden */
    transition: transform 0.2s ease, opacity 0.2s ease; /* Animation for sliding down */
  }
  
  .fade-out {
    opacity: 0; /* Fade out immediately */
    transform: translateY(-10px); /* Move up when button is clicked */
  }
  
  .slide-down {
    top: 10px; /* Final position below the button */
    opacity: 1; /* Fade in */
  }
  
  .slick-dots {
    position: absolute;
    bottom: 110px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
  }
  
  .slick-dots li button:before {
    font-size: 16px; /* Adjust this value to make the dots larger */
    color: #000; /* Change the color if needed */
  }
  
  /* You can also control the spacing between dots */
  .slick-dots li {
    margin: 0 10px; /* Adjust the spacing between dots */
  }
  
  .slick-next,
  .slick-prev {
    display: none !important;
  }
  